<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<div class="navbar">

  <a class="nav-link nav-link-ltr" routerLink="costofcare">Cost of care
    <i class="material-icons brand-icon" for="health" >favorite</i>
  </a>

  <a class="nav-link nav-link-ltr" href="demographics">Demo graph ics


    <i class="material-icons brand-icon" for="health" >account_circle</i>
  </a>
  <a class="nav-link nav-link-ltr" href="accountcircle">$ Funding</a>

</div>
<router-outlet></router-outlet>
