@import '../navvariables';
body {
  margin: 0;
  font-family: Roboto, Arial, helvetica, sans-serif;
}
.nav-container {
  text-align: center;
  background-color: $bg-color;
  padding: 0px;
  font-size: 0;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
li:hover{
  color:$icon-color ;
}
}
a {
  outline: none;
}
.active {
  color: $icon-color;
}
.nav-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}
.nav-container ul li {
  display: inline-block;
  font-size: 16px;
}
.nav-container ul li a {
  color: $bgnavLink-color;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  transition: color 0.5s;
}
.nav-container ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}
.nav-container ul li.active-link .underline {
  width: 100%;
  background-color: $icon-color;
}
.nav-container ul li:hover .underline {
  background-color: $icon-color;
  width: 100%;
}
.nav-container ul li:hover a {
  color: $icon-color;
}
.nav-container ul li:active a {
  transition: none;
  color: $bgnav-color;
}
.nav-container ul li:active .underline {
  transition: none;
  background-color: $bgnav-color;
}
@media screen and (min-width: 320px) and(max-width:568px) {
  .nav-container ul li a {
    justify-content: left;
  }
}
a:hover {
  color: $icon-color;
}
