<div class="nav-container">
  <ul>
    <li class="nav-link">
      <a href="/costofcare">costofcare</a>
      <!-- <i class="material-icons brand-icon">favorite</i> -->
      <div class="underline"></div>
    </li>
    <li class="nav-link">
      <a href="demographics">demographics</a>
      <!-- <i class="material-icons brand-icon">account_circle</i> -->
      <div class="underline"></div>
    </li>
    <li class="nav-link">
      <a href="#"> Funding</a>
      <!-- <i class="material-icons brand-icon">attach_money</i> -->
      <div class="underline"></div>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
