<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<div class="container_navbar">
<div class="navbar">

  <a class="nav-link nav-link-ltr" routerLink="costofcare">Cost of care
    <i class="material-icons brand-icon" for="health" >favorite</i>
  </a>

  <a class="nav-link nav-link-ltr" href="demographics">Demo graph ics


    <i class="material-icons brand-icon" for="health" >account_circle</i>
  </a>
  <a class="nav-link nav-link-ltr" href="accountcircle">$ Funding</a>

</div>
<router-outlet></router-outlet>
</div> -->








<div class="navbar-container">
	<ul>

		<li class="nav-link">
			<a href="costofcare">costofcare❤</a>
			<div class="underline"></div>
		</li>
		<li class="nav-link">
			<a href="#">Testimonials</a>
			<div class="underline"></div>
		</li>
		<li class="nav-link">
			<a href="#">Contact</a>
			<div class="underline"></div>
		</li>
	</ul>
</div>
<router-outlet></router-outlet>

