<section class="block">
  <div class="block__left-p">
    <h1>What is your gender?</h1>
    <div class="block__flex-container">
      <div class="block__flex-item-left">
        <input id="un" type="checkbox" /> <label for="un"></label>
        <div id="text">Female</div>
      </div>
      <div class="block__flex-item-right">
        <input id="un" type="checkbox" /> <label for="un"></label>
        <div id="text">Male</div>
      </div>
    </div>
    <p class="block__cardtext">
      Product pricing and rates are based on age, gender at birth and
      underwriting class
    </p>
  </div>
  <div class="block__verticalline"></div>

  <div class="block__right-p">
    <h1>What is your material status?</h1>
    <div class="block__flex-container">
      <div class="block__flex-item-left">
        <input id="un" type="checkbox" /> <label for="un"></label>
        <div id="text">Married</div>
      </div>
      <div class="block__flex-item-right">
        <input id="un" type="checkbox" /> <label for="un"></label>
        <div id="text">Single</div>
      </div>
    </div>
    <p class="block__cardtext2">
      You receive a Couples Discount if you are legally married or are part of a
      civil union or domestic partnership or are in a common law marriage
    </p>
  </div>
</section>
<!-- <div class="buttons">
  <a href="costofcare" class="previous">&laquo; Previous</a>
  <a href="accountcircle" class="next">Next &raquo;</a>
</div> -->

<div class="btn">
  <button  class="btn_input1" >&laquo;  PREVIOUS STEP</button>
  <button  class="btn_input2">NEXT STEP  &raquo;</button>
  <!-- <p>The purpose of the communication is solicitation of life insuarance. Contact will be made by a licensed insuarance agent/producer or insuarance company.</p> -->
</div>

