@import "../demovariables";

.container {
  border: 2px solid $bg-shadowColor;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 0 10px $bg-shadowColor;
  box-shadow: 0 0 10px $bg-boxshadow;
  .wrapper__inner {
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    #un {
      position: absolute;
      margin-top: -16px;
      margin-left: -30px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: box-shadow 0.3s;
      background: $bg-checkbox;
      cursor: pointer;
      border: 0;
      appearance: none;
      -webkit-appearance: none;
    }
    #un:checked {
      box-shadow: inset 0 0 0 20px $bg-checked;
    }
  }
  .horizontal-vertical {
    border-bottom: 1.5px dashed $bg-fontcolor;
    left: 30%;
  }
}
.wrapper__left-inner {
  flex-direction: column;
  margin: auto;
  h1 {
    text-align: center;
    color: $bg-colorheading;
  }
}
p {
  text-align: center;
}
.wrapper__left {
  display: flex;
  margin: auto;
}
.female {
  text-align: center;

}
.female:hover {
  -webkit-box-shadow: 0 0 10px $bg-shadowColor;
  box-shadow: 0 0 10px $bg-checked;
}
.male {
  text-align: center;
}
.male:hover {
  -webkit-box-shadow: 0 0 10px $bg-shadowColor;
  box-shadow: 0 0 10px $bg-checked;
}
.wrapper__left > div {
  background-color: $bg-backgound;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  text-align: center;
}
.wrapper__divider {
  padding: 90px;
}
.vertical {
  border-left: 1.5px dashed $bg-fontcolor;
  height: 200px;
  position: absolute;
  left: 50%;
}
.wrapper__right {
  display: flex;
  margin: auto;
}
.wrapper__right > div {
  background-color: $bg-backgound;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 200px;
  text-align: center;
}
.single {
  text-align: center;
}
.single:hover {
  -webkit-box-shadow: 0 0 10px $bg-shadowColor;
  box-shadow: 0 0 10px $bg-checked;
}
.married {
  text-align: center;
}
.married:hover {
  -webkit-box-shadow: 0 0 10px $bg-shadowColor;
  box-shadow: 0 0 10px $bg-checked;
}
.buttons {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }

  a:hover {
    background-color: $bg-hovercolor;
    color: $bg-fontcolor;
  }

  .previous {
    background-color: $bg-backgound;
    color: $bg-checked;
  }

  .next {
    background-color: $bg-checked;
    color: $bg-backgound;
  }
}


@media screen and (min-width: 320px) and(max-width:568px) {
  .wrapper__inner {
    flex-direction: column;
    margin: auto;
  }
  .wrapper__left {
    flex-direction: column;
    margin-left: 70px;
    margin-right: 50px;
  }
  .wrapper__right {
    flex-direction: column;
    margin-left: 70px;
    margin-right: 50px;
  }
  .wrapper__divider-vertical {
    transform: rotate(90deg);
    margin-top: 50px;
    width: 10px;
  }
  .wrapper__divider {
    padding: 10px;
  }
  .wrapper__left-inner {
    margin: auto;
    flex-direction: column;
  }
}

@media screen and (min-width: 414px) and(max-width:736px) {
  .wrapper__inner {
    flex-direction: column;
    margin: auto;
  }
  .wrapper__left {
    flex-direction: column;
    margin-left: 70px;
    margin-right: 50px;
  }
  .wrapper__right {
    flex-direction: column;
  }
  .wrapper__divider-vertical {
    transform: rotate(90deg);
    height: 300px;
  }
  .wrapper__divider {
    padding: 10px;
  }
}

@media screen and (min-width: 375px) and(max-width:812px) {
  .wrapper__inner {
    flex-direction: column;
    margin: auto;
  }
  .wrapper__left {
    flex-direction: column;
    margin: auto;
    margin-left: 70px;
    margin-right: 50px;
  }
  .wrapper__right {
    flex-direction: column;
  }
  .wrapper__divider-vertical {
    height: 735px;
    width: 10px;
  }
  .vertical {
    margin-top: -50px;
    transform: rotate(90deg);
  }
  .wrapper__divider {
    padding: 10px;
  }
  .wrapper {
    margin-left: 25%;
  }
  .buttons {
    flex-direction: column;
    line-height: 2;
    text-align: center;
  }
  .container {
    flex-direction: column;
    -webkit-box-shadow: 0 0 0px $bg-shadowColor;
    box-shadow: 0 0 0px $bg-boxshadow;
  }
}


