
<div class="container">
<div class="wrapper">
  <div class="wrapper__inner">
    <div class="wrapper__left-inner">
      <h1>What is your gender?</h1>
      <div class="wrapper__left">

        <div class="female">
          <input id="un" type="checkbox" /> <label for="un"></label>
          Female</div>
        <div class="male">
          <input id="un" type="checkbox" /> <label for="un"></label>
          Male</div>
      </div>
      <p>
        Product pricing and rates are based on age, gender at birth and
        underwriting class(Couples Discount or Standard)
      </p>
    </div>
    <div class="wrapper__divider"></div>
    <div class="wrapper__divider-vertical"></div>
    <div class="wrapper__left-inner">
      <h1>What is your marital status?</h1>
      <div class="wrapper__right">
        <div class="single">
          <input id="un" type="checkbox" /> <label for="un"></label>
          Single</div>
        <div class="married">
          <input id="un" type="checkbox" /> <label for="un"></label>
          Married</div>
      </div>
      <p>you receive a Couples Discount ifyou are legally married (traditional or same sex) or are part of a civil union or domestic partnership or are in a common law marriage as recognized in the state of issue</p>
    </div>
  </div>
</div>
<div class="buttons">
<a href="costofcare" class="previous">&laquo; PREVIOUS STEP</a>
<a href="" class="next">NEXT STEP &raquo;</a>
</div>
</div>
