

.container__text{
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
   margin-left: 100px;
justify-content: center;
  display: inline-flexbox;
  text-align: center;
}
.container__para{
  margin-right: 250px;

  font-size: 20px;
}


.container__options{
  /* width: 200px; */
  margin-right:60px ;




}
.container__para1{
  /* margin-left: 50px; */
justify-content: center;
  font-size: 20px;
}

.conatiner__verticalline{
  border-left: 1px dashed #bbb;
  height: 150px;
  position:absolute;
  border-bottom: 3px dotted #bbb;
  left: 45%;
}
.container__age{
  margin-left: 60px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f1f2f6;
}
.container__box {
  background: #fff;
  border: 2px soild #fff;
  box-sizing: border-box;
  height: 820px;
   margin: 100px 100px 100px 190px;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-left: 150px; */

}



.conatiner__child {
  background: #006266;
  height: 200px;
}
.age{
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 60px;

}


.conatiner__heading {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 35px;
}
.conatiner__heading1{
text-align: center;
float: right;
margin-top: -50px;
margin-right: 10px;
color: #fff;
font-size: 15px;
}
.container__box::before {
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 0px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 0px solid #ffff;
  left: 50%;
  margin-left: -25px;
  content: "";
  transform: rotate(45deg);
  margin-top: -25px;
  background: #fff;
}
.container__gridcard{

    display: flex;
  justify-content: center;
    flex-wrap: wrap;
    grid-column-gap:40px ;
    margin-left: 40px;
    margin-right: 40px;


}
.container__headinghome{
    text-align: center;
    color: red;
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    justify-content: center;


}
.brand-icon {
   font-size: 100px;
     margin-left: 50px;
    margin-top: 50px;
    /* margin: auto; */
    color: #EA2027;
    text-shadow: 2px 2px 5px #eb2f06;
    text-shadow: 2px 2px 5px yellow;
    align-items: center;
    justify-content: center;


}
/* .cardcheckbox{
  cursor: pointer;
  border: 1px solid black;
}
.cardcheckbox:hover {
  box-shadow: 0 0 5px red;
  border: 1px solid red;

  } */


.brand-icon:hover {
  box-shadow: 0 0 2px rgba(33,33,33,.2);
}
.container__card1{
    background: #f1f2f6;
    border-radius: 7px;
    width: 300px;
    height: 200px;
    display: flex;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;

}
#un{
	width: 40px; height: 40px;
	border-radius: 50%;
	transition: box-shadow .3s;
	background: lightgrey;
	cursor: pointer;
	border: 0;
	appearance: none; -webkit-appearance: none;
 }

#un:checked{ box-shadow: inset 0 0 0 20px black; }
.container__card1:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.container__card2{
    background: #f1f2f6;
    border-radius: 7px;
    width: 300px;
    height: 200px;
    display: flex;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;

}
.container__card2:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.container__card3{
    background: #f1f2f6;
    border-radius: 7px;
    width: 300px;
    height: 200px;
    display: flex;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;

}
.container__card3:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}



#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.80;
  background: black;
  z-index: 10;
  display: none;
}

.conatiner__mainheading{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}
@media screen and (max-width: 1194px) {
  .home{
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .container__box{
    margin:0;
    padding: 0px;
  }
}
@media screen and (max-width: 414px) {
  .container__gridcard{
background-color: #006266;
grid-row-gap: 20px;
  }
}
@media screen and (max-width: 414px) {
  .conatiner__child{
background-color: #006266;
grid-row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container__gridcard{
background-color: #006266;
grid-row-gap: 20px;
  }
}
@media screen and (max-width: 786px) {
  .conatiner__child{
background-color: #006266;
grid-row-gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .container__gridcard{
background-color: #006266;
grid-row-gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .conatiner__child{
background-color: #006266;
grid-row-gap: 20px;
  }
}
@media screen and (max-width: 414px) {
  .container__text{
 flex-direction: column;
  }
}
@media screen and (max-width: 414px) {
  .container__box{
 background-color:#006266 ;
  }
}
@media screen and (max-width: 768px) {
  .container__box{
 background-color:#006266 ;
  }
}
@media screen and (max-width: 1024px) {
  .container__box{
 background-color:#006266 ;

  }
}

@media screen and (max-width: 414px) {
  .conatiner__verticalline{
    margin-top: 60px;

 transform: rotate(90deg);
  }
}



div[disabled=disabled] {
  pointer-events: none;
  opacity: 0.4;
}


