.container__text {
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 100px;
  justify-content: center;
  display: inline-flexbox;
  text-align: center;
}
.container__para {
  margin-right: 250px;
  font-size: 20px;
  display: flex;
  flex-wrap:nowrap

}
.container__options {
  margin-left: -400px;
  width: 100px;


}
.conatiner__verticalline {
  border-left: 1px dashed #bbb;
  height: 150px;
  position: absolute;
  border-bottom: 3px dotted #bbb;
  left: 45%;
}
.container__para1 {
  justify-content: center;
  font-size: 20px;
}

.container__age {
  margin-left: 60px;

}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  // background-color: #f1f2f6;
  background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
}
.container__box {
  background: #fff;
  border: 2px soild #fff;
  box-sizing: border-box;
  height: 820px;
  margin: 100px 100px 100px 190px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div[disabled="disabled"] {
  pointer-events: none;
  opacity: 0.4;
}
.conatiner__child {
  background: #006266;
  height: 200px;
}
.conatiner__childdisable
{
  background: #006266;
  height: 200px;
}
.age {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 60px;
}
.conatiner__heading {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 35px;
}
.conatiner__heading1 {
  text-align: center;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
  color: #fff;
  font-size: 15px;
}
.container__box::before {
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 0px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 0px solid #ffff;
  left: 50%;
  margin-left: -25px;
  content: "";
  transform: rotate(45deg);
  margin-top: -25px;
  background: #fff;
  background:linear-gradient(to top ,25%white,#bbb);
}
.container__gridcard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-column-gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.container__headinghome {
  text-align: center;
  color: #e74c3c;
  position: absolute;
  margin-top: 150px;
  margin-left: 100px;
  justify-content: center;
}
.brand-icon {
  font-size: 100px;
  margin-left: 50px;
  margin-top: 50px;
  color: #ea2027;
  text-shadow: 2px 2px 5px #eb2f06;
  text-shadow: 2px 2px 5px yellow;
  align-items: center;
  justify-content: center;
}
#brand-icon-disable{
  font-size: 100px;
  margin-left: 50px;
  margin-top: 50px;
  color: red;
  text-shadow: 2px 2px 5px #eb2f06;
  text-shadow: 2px 2px 5px yellow;
  align-items: center;
  justify-content: center;
}

.brand-icon:hover {
  color: black;
}
.container__card1 {
  background: #f1f2f6;
  border-radius: 7px;
  width: 300px;
  height: 200px;
  display: flex;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
#un {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  background: lightgrey;
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
}

#un:checked {
  box-shadow: inset 0 0 0 20px #e74c3c;
}
.container__card1:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
#un:checked:hover {
  .brand-icon {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}
.container__card2 {
  background: #f1f2f6;
  border-radius: 7px;
  width: 300px;
  height: 200px;
  display: flex;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
.container__card2:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.container__card3 {
  background: #f1f2f6;
  border-radius: 7px;
  width: 300px;
  height: 200px;
  display: flex;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
}
.container__card3:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.conatiner__mainheading {
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
}
@media screen and (max-width: 376px) {
  .container__options{
    margin-left: -120px;
    width: 100px;
  }
  .container__para1{
    margin-left: -115px;
  }
  .container__para2{
    margin-left: -100px;
  }
  .container__age{
    margin-left: -100px;
  }
  .container__card1{
    margin-right: 20px;
  }
  .container__card2{
    margin-right: 20px;
  }
  .container__card3{
    margin-right: 20px;
  }
  .container__card4{
    margin-right: 20px;
  }
  // .container__box{
  //   margin-right: -80px;
  // }
}

@media screen and (max-width: 415px) {
  .container__options{
    margin-left: -120px;
    width: 100px;
  }
  .container__para1{
    margin-left: -115px;
  }
  .container__para2{
    margin-left: -100px;
  }
  .container__age{
    margin-left: -100px;
  }
  .container__box{
    margin-left: 80px;
  }
}
.container__invalid{

color: red;


}

@media screen and (max-width: 1194px) {
  .home {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .container__box {
    margin: 0;
    padding: 0px;
  }
}
@media screen and (max-width: 414px) {
  .container__gridcard {
    background-color: #006266;
    grid-row-gap: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 414px) {
  .conatiner__child {
    background-color: #006266;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container__gridcard {
    background-color: #006266;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 786px) {
  .conatiner__child {
    background-color: #006266;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .container__gridcard {
    background-color: #006266;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .conatiner__child {
    background-color: #006266;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 414px) {
  .container__text {
    flex-direction: column;
  }
}
@media screen and (max-width: 414px) {
  .container__box {
    background-color: #006266;
  }
}
@media screen and (max-width: 768px) {
  .container__box {
    background-color: #006266;
  }
}
@media screen and (max-width: 1024px) {
  .container__box {
    background-color: #006266;
  }
}

@media screen and (max-width: 414px) {
  .conatiner__verticalline {
    margin-top: 60px;

    transform: rotate(90deg);
  }
}

@media screen and (max-width: 375px) {
  .container__box{
   margin:auto
  }
}
